*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
   
}
#p{
   
    color:rgb(107, 102, 102);
    letter-spacing: 5px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 30px;
}


.main{
    padding: 30px;                /*main*/
    max-width: 412px;
    max-height: 915px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
   
    flex-direction: column;
   
}



.butt{
    display: flex;                 /*radio*/
    margin-bottom: 20px;
   
}
.lab{
    margin-left: 10px;
    margin-right: 5px;
}
.labb{
    margin-left: 50px;
    margin-right: 5px;
}


.reg{
    height: 60px; 
    width: 100%;    
    margin-bottom: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:0.5px solid black;
    font-size: 15px;
    padding-left: 7px;
}

#dep{
    width: 55%;
    margin-right: 16px;
}
#sem{
    height: 60px;
    width: 35%;
    border-radius: 10px;
    padding-left: 5px;
}


.sub{
    height: 60px;
    width: 70%;
    display: flex;                                      /*submit*/
    margin-top: 40px;
    margin-left: 60px;
    background-color: black;
    justify-content: center;
    border-radius: 14px;border-color: black;
    border: none;


}
.subbut{
    background-color: black;
    border: none;
}

.sig{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
}

